---
import Layout from '@/layouts/Layout.astro';
import DashedLine from '@/components/common/DashedLine.astro';
import Link from '@/components/common/Link.astro';
import Chip from '@/components/Chip.astro';

import { Image } from 'astro:assets';
import coffee_img from '@/images/coffee.webp';
import typography_img from '@/images/typography.webp';
import know_img from '@/images/k.webp';
---

<Layout title="About" description="About me | undefinedcode">
  <div class="flex gap-7 items-center pl-2 unblur-in-no-move-opacity">
    <div transition:name="hero" transition:animate="fade">
      <h1 class="italic font-thin font-zodiak text-text/10 text-[clamp(26px,20vmin,90px)]" id="title-text">About</h1>
    </div>
  </div>

  <DashedLine width="100%" />

  <article class="flex flex-col gap-3 max-w-[60ch]">
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-100">
      <span style="user-select: none;" class="font-thin text-text/25 w-[3ch]">0x1</span>Going outside
    </h1>
    <p class="unblur-in animation-delay-150">
      I love photography. I frequently go outside on many locations near me or when i have the chance to go out. I enjoy
      cycling, and trying out new stuff. You can see my pictures <Link href="/writing/photography">here</Link>.
    </p>

    <DashedLine width="45ch" class="mt-5 unblur-in animation-delay-200" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-250">
      <span style="user-select: none;" class="font-thin text-text/25 w-[3ch]">0x2</span>Friends!
    </h1>
    <ul class="unblur-in animation-delay-300">
      <li title="best freakpal no lie. love you vro!!!!">alocalbrit. -- <i>!ᖫ𓊈 .alxcalbrxt. 𓊉ᖭ! (brit)</i></li>
      <li title="cool ass friend. i love their personality!!">xx_nyxyx_xx -- <i>Nyx</i></li>
      <li title="mm... good mate :dreaming:">wtf.cynn -- <i>jothemf</i></li>
      <li title=":tongue:">pixiesstickss -- <i>jay</i></li>
      <li title=":tongue:">w0rm.t -- <i>sal</i></li>
      <li title="keep that SAME energy... see what happens...">onemaneye -- <i>Onemaneye</i></li>
    </ul>

    <DashedLine width="50ch" class="mt-5 unblur-in animation-delay-350" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-250">
      <span style="user-select: none;" class="font-thin text-text/25 w-[3ch]">0x3</span>More about me
    </h1>
    <p class="unblur-in animation-delay-600">
      I'm an <Link href="https://www.16personalities.com/infp-personality">INFP-T</Link>, which means I'm mostly kept to
      myself, but I'm always open to converse with new people I meet. I also enjoy meeting new people and learning about
      their interests and connecting with them.
    </p>

    <DashedLine width="50ch" class="mt-5 unblur-in animation-delay-400" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-700">
      <span style="user-select: none;" class="font-thin text-text/25 w-[3ch]">0x4</span>Design Interests
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div>
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-750">UI Design</h2>
        <p class="text-base unblur-in animation-delay-800">
          I love detailed, functional interfaces with thoughtful micro-interactions. I spend a lot of time thinking
          about UI.
        </p>
      </div>
      <div>
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-950">Drawing & Digital Art</h2>
        <p class="text-base unblur-in animation-delay-1000">
          I draw digitally using <Chip class="bg-a4/50">Krita</Chip> and model with <Chip class="bg-a2/50">Blender</Chip
          >.
        </p>
      </div>
      <div
        class="md:col-span-2 flex gap-4 bg-a2/10 rounded-md shadow-[0_0_0_8px_--alpha(var(--color-a2)/10%)] w-fit md:flex-row flex-col mt-4">
        <span class="block overflow-hidden rounded-md bg-bg w-18 h-fit">
          <Image
            src={typography_img}
            alt="typography"
            width={155}
            height={155}
            class="mix-blend-multiply dark:mix-blend-color-dodge dark:invert"
          />
        </span>
        <div class="flex-shrink w-fit">
          <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-850">Typography</h2>
          <p class="flex gap-2 text-base unblur-in animation-delay-900">
            <span>
              I'm a type nerd who enjoys exploring different typefaces and their applications. Current favorites are <Chip
                class="bg-a3/50">Zodiak</Chip
              > and <Chip class="bg-a2/50">Berkeley Mono</Chip>. SF Pro is also the goat.
            </span>
          </p>
        </div>
      </div>
    </div>

    <DashedLine width="65ch" class="mt-5 unblur-in animation-delay-1050" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-1100">
      <span style="user-select: none;" class="font-thin text-text/25 w-[3ch]">0x5</span>Other Passions
    </h1>
    <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-1350">Movies, Webseries, and Anime</h2>
    <p class="text-base unblur-in animation-delay-1400">
      I watch a lot of Movies, Webseries, and Anime from a lot of genres, and they include:
      <ul class="unblur-in animation-delay-1450">
        <li>&bull; Breaking Bad - "This... is not meth."</li>
        <li>&bull; Arcane - "There is no prize to perfection, only an end to pursuit."</li>
        <li>&bull; Neon Genesis Evangelion - "KAWORU!!"</li>
        <li>&bull; Missing - "Hey, Siri. Call Mom."</li>
        <li>&bull; Inception - "Dreams feel real while we're in them..."</li>
        <li>&bull; Interstellar - "Don't let me leave, Murph!"</li>
      </ul>
      This list has absolutely inspired my writing, and characters. It has also helped me develop my sense of humor and creativity.
    </p>
    <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-1550">Video Games</h2>
    <p class="text-base unblur-in animation-delay-1600">
      I play all kinds of games, mainly rhythm games, and RPGs. But a list includes:
      <ul class="unblur-in animation-delay-1650">
        <li>&bull; osu!</li>
        <li>&bull; Roblox, Phighting, Regretavator, nico's nextbots, etc.</li>
        <li>&bull; Pyschopomp</li>
        <li>&bull; Cry of Fear</li>
        <li>&bull; OMORI</li>
      </ul>
      I'm a sucker for psychological, action, horror, story-telling games.
    </p>
  </article>
</Layout>
