---
import Chip from '@/components/Chip.astro';
import Copy from '@/components/Copy.astro';
import DashedLine from '@/components/common/DashedLine.astro';
import Hero from '@/components/index/Hero.astro';
import Canada from '@/components/icons/Canada.astro';
import Link from '@/components/common/Link.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="undefinedcode" description="Index | undefined">
  <Hero />
  <DashedLine width="20ch" class="scroll-dashed" />

  <article class="flex flex-col gap-3 max-w-[60ch]">
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text">
      <span aria-hidden="true" style="user-select: none;" class="font-thin text-text/60 w-[3ch]">0x1</span>About
    </h1>
    <p>he/him &bull; EST</p>
    <p class="flex flex-wrap items-center text-text">
      I'm a relaxed and introverted individual from
      <Chip class="mx-1 bg-a1/50 h-[1.4em]">
        <span class="pl-[0.5px]"><Canada /></span> United States
      </Chip>

      I go by <b class="mx-1 font-extrabold">anagnorisis or undefinedcode</b> online.
    </p>
    <p>
      I love implementing details in the work I do; I value my work efforts. You will learn way more about me on a
      personal level at my <Link href="/about">about</Link> page.
    </p>
    <DashedLine width="40ch" class="mt-5" />
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text">
      <span aria-hidden="true" style="user-select: none;" class="font-thin text-text/60 w-[3ch]">0x2</span>Work
    </h1>
    <p>
      I work with many languages, including <Chip class="bg-a1/50">C++, C & C#</Chip>
    </p>
    <p>
      I've also worked with other languages such as <Chip class="bg-a2/50">JavaScript</Chip>
      <Chip class="bg-a1/50">Python & Assembly</Chip>
      and other web development languages with frameworks such as
      <Chip class="bg-a1/50">Tailwind</Chip>
      <Chip class="bg-a2/50">Svelte</Chip>
      <Chip class="bg-a3/50">Astro</Chip>
    </p>
    <p>
      You can view <Link href="/projects">my projects</Link> on my
      <Link href="https://github.com/undefinedcode0" external>GitHub</Link>
    </p>
    <DashedLine width="60ch" class="mt-5" />
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text">
      <span aria-hidden="true" style="user-select: none;" class="font-thin text-text/60 w-[3ch]">0x3</span>Contact
    </h1>
    <p>Feel free to email me or shoot me a dm on Discord.</p>
    <p>
      Email me at <Copy text="anoncyn@proton.me">anoncyn@proton.me</Copy>
      <br />
      or DM me at Discord <Copy text="undefinedcode">@undefinedcode</Copy>
    </p>

    <p class="mt-2">
      If the contents are confidential, encrypt your message with my PGP public key:
      <Link href="/pgp.asc">/pgp.asc</Link>
      <br />
      Fingerprint: <Copy text="50ED81788A7DF34B48DC67ACC4C2C082662955B7">50ED81788A7DF34B48DC67ACC4C2C082662955B7</Copy>
    </p>
  </article>
</Layout>
