---
interface Props {
  class?: string;
  offset?: string;
}

const { class: className, offset } = Astro.props;
---

<span
  class:list={[
    'rounded-sm smooth-md p-0.5 px-1 mx-0.5 text-text h-[1.2em] inline-flex items-center justify-center',
    //shadow-[0_0_0_1px_--alpha(var(--color-text)/10%)]
    className,
  ]}>
  <span class="inline-flex gap-1 items-center" style={`transform: translateY(${offset || '-0.5px'})`}>
    <slot />
  </span>
</span>
