---
import DashedLine from '@/components/common/DashedLine.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('writing')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Writing" description="Writing | undefinedcode">
  <div class="flex gap-7 items-center">
    <h1
      class="italic font-thin font-zodiak text-text text-[clamp(26px,20vmin,90px)]"
      style="letter-spacing: -0.08em; user-select: none;"
      id="title-text">
      Writing
    </h1>
  </div>
  <DashedLine width="100%" />
  <ul class="flex flex-col gap-4 py-10">
    {
      posts.map((post, index) => (
        <>
          <a class="block my-4" href={`/writing/${post.id}/`}>
            <h1 class="text-3xl font-light font-zodiak text-text">
              {post.data.title}
            </h1>
            <p>
              <span class="inline-block">
                <FormattedDate date={post.data.pubDate} />
              </span>
              | {post.data.description}
            </p>
          </a>
          <DashedLine width="100%" />
        </>
      ))
    }
  </ul>
</Layout>
